@import "../styles/variables.scss";

#root {
	@include defaultGrid(1fr, min-content 1fr min-content, 15px);
	min-height: 100vh;
	margin: 0 auto;
	justify-content: center;
	padding: 10px;
	background-color: $body-background-color;

	div:nth-of-type(2) {
		height: 100%;
	}
}

h3 {
	@include h3;
}

h2.title {
	@include h2;
}
