@import "main.scss";

.topbar-container {
	background-color: $cbx_dark_color;
	color: $cbx_ligth_color;
	font-family: $cbx_font_family;
	font-size:  $cbx_font_size_3;
	font-weight: lighter;
	border-radius: $cbx_border_radius_small;
	grid-column: 1/2;
	grid-row: 1/2;
	height: auto;
	width: 100%;
	padding: 5px;
	align-self: center;
}
