@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

:root {
  
  background-color:#888888;
  
  --color__01 : #E63946;
  --color__02 : #F1FAEE;
  --color__03 : #A8DADC;
  --color__04 : #457B9D;
  --color__05 : #1D3557;

  --mainFont : 'Poppins', sans-serif;

  --size__01 : 15px;
  --size__02 : 25px;  

  --border__radius : 5px;
}